<div _ngcontent-wpn-c2="" class="ng-tr">
    <div _ngcontent-wpn-c2="" class="par">
        <h2 _ngcontent-wpn-c2="" class="h2-pdClass"> Hi ,<br _ngcontent-wpn-c2=""><br _ngcontent-wpn-c2=""> This is a message from the Site Admin.<br _ngcontent-wpn-c2=""><br _ngcontent-wpn-c2=""> The web page you are trying to access is restricted. Please apply for <b _ngcontent-wpn-c2="">SIV Sighting Accuracy & Efficiency Indicators (SSAEI)</b>            Role via <a _ngcontent-wpn-c2="" href="https://ags.intel.com/identityiq/accessRequest/accessRequest.jsf#/accessRequestSelf/add?filterKeyword=BugAssist%20Admin" target="_blank">AGS</a><br _ngcontent-wpn-c2=""><br _ngcontent-wpn-c2="">
            <p _ngcontent-wpn-c2="">
                If you are not able to find the role using the above link, please follow below steps :</p>
            <ol _ngcontent-wpn-c2="">
                <li _ngcontent-wpn-c2="">Login to AGS</li>
                <li _ngcontent-wpn-c2="">Select submit for self</li>
                <li _ngcontent-wpn-c2="">Search for E2E GB Test Execution Role</li>
                <li _ngcontent-wpn-c2="">Submit the request</li>
                <li _ngcontent-wpn-c2="">Search for High Speed Database - User Access - Client Software - ClientSW BugDCN RW Green Badge</li>
                <li _ngcontent-wpn-c2="">Submit the request</li>
            </ol> Thank You,<br _ngcontent-wpn-c2=""> Site Admin. </h2>
    </div>
</div>